doctype html
html
  include inc/head
  body
    textarea#source
      include ../slides/slide-1-title.md
      include ../slides/slide-2-agenda.md
      include ../slides/slide-3-introduction.md
      include ../slides/slide-component_1.md
      include ../slides/slide-component_2.md
      include ../slides/slide-component_3.md
      include ../slides/slide-component_4.md
      include ../slides/slide-component_5.md
      include ../slides/slide-component_6.md
      include ../slides/slide-style.md
      include ../slides/slide-routing.md
      include ../slides/slide-backend.md
      include ../slides/slide-native.md
      include ../slides/slide-misc.md
      include ../slides/slide-coclusion.md
    include inc/scripts
