head
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  title="Ionic2/3 Anti Pattern"
  meta(name="description" content="Ionic2/3のアンチパターン集")
  meta(name="author" content="You")
  link(rel="stylesheet", href="css/main.css")
